<!DOCTYPE html>
<html>
<head>
 {% load static %}
  <link rel='stylesheet' href="{% static 'css/user_registration.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
  
<form action="#" method="POST" id="donor">
  {% csrf_token %}
  <div class="container">
    {{ form.as_p}}
 <button type="submit" class="registerbtn">Sign In</button>
</div>

</form>

</body>
</html>




